<template name="navBar">
  <div class="nav-bar-wrapper">
    <div class="row">
      <div class="col-md-6 left-align">
          <a class="about-me-link">Raissa</a>
      </div>
      <div class="col-md-6">
        <div class="col-md-3">
          <a class="work-link">Works</a>
        </div>
        <div class="col-md-3">
          <a class="education-link">Education</a>
        </div>
        <div class="col-md-3">
          <a class="skills-link">Skills</a>
        </div>
        <div class="col-md-3">
          <a class="projects-link">Projects</a>
        </div>
      </div>
    </div>
  </div>
</template>