<template name="workPage">
  <div id="work-page-wrapper" class="row">
    <img src="ice_cream.png" id="ice-cream"/>
    <div id="airbnb-section" class="col-md-9 work-section">
      <div class="section-header-wrapper">
        <div class="section-header">
          Airbnb
        </div>
        <div class="section-sub-header">
          Summer 2015 (Coming soon!)
        </div>
      </div>
      <div class="section-body hidden">
        <p>I'll be doing an internship at Airbnb during the summer of 2015!</p>
      </div>
    </div>
    <div id="facebook-section" class="col-md-9 work-section">
      <div class="section-header-wrapper">
        <div class="section-header">
          Facebook
        </div>
        <div class="section-sub-header">
          Summer 2014
        </div>
      </div>
      <div class="section-body hidden">
        <p>
          During the Summer of 2014 I interned at Facebook and worked partly
          on the security team and partly on the AI team. I was definitely 
          making cool things happen on computers, but unfortunately I cannot
          tell you very much about it due to NDA.
        </p>
        <p>
          However, what I can tell you is that I worked full stack,
          incorporating data pipelines, PHP, and javascript into a new feature
          that would simultaneously increase security for the site and provide
          valuable data for the AI team.
        </p>
      </div>
    </div>
    <div id="cs42-section" class="col-md-9 work-section">
      <div class="section-header-wrapper">
        <div class="section-header">
          CS 42 Teaching Assistant
        </div>
        <div class="section-sub-header">
          Fall 2014
        </div>
      </div>
      <div class="section-body hidden">
        <p>Contemporary Javascript - Callback me Maybe (CS 42) is a Stanford class
        that seeks to introduce students to basic Javascript and frameworks. 
        </p>
        <p> I was a teaching assistant for the class, and helped do regular TA
          things such as grade assignments, and hold office hours. More 
          interestingly, I did a demonstration about prototyping, which 
          culminated in 
          <a href="#">this snake game! (Gotta put this in later)</a>
        </p>
      </div>
    </div>
    <div id="cs106b-tutor-section" class="col-md-9 work-section">
      <div class="section-header-wrapper">
        <div class="section-header">
          CS 106B Tutor
        </div>
        <div class="section-sub-header">
          Fall 2014
        </div>
      </div>
      <div class="section-body hidden">
        <p>CS 106B is the second course in the introductory computer science
        sequence at Stanford. It covers topics such as recursions, and more
        complex data structures. I held weekly tutoring sessions for students
        taking the class in the Fall. I was not doing awesome things on 
        computers per se, but I was definitely helping others down that path. 
        </p>
      </div>
    </div>
    <div id="groupon-section" class="col-md-9 work-section">
      <div class="section-header-wrapper">
        <div class="section-header">
          Groupon
        </div>
        <div class="section-sub-header">
          Summer 2013
        </div>
      </div>
      <div class="section-body hidden">
        <p>
          I interned on the Groupon Algorithms team during the Summer of 2013.
          This involved tweaks to the algorithm that matches deals with people
          (gotta love daily deals!), and then A/B testing the results of these
          changes.
        </p>
      </div>
    </div>
  </div>
</template>