/* Global style variables */

// Colors
$PINK: #E26A6A;
$RED: #e74c3c;
$BLUE: #3498db;
$GREEN: #2ecc71;
$YELLOW: #f1c40f;
$ORANGE: #f39c12;
$PURPLE: #BE90D4;
$BROWN: #8B572A;
$GRAY: #D2D7D3;
$TAN: #DFC8B3;
$CHARCOAL: #4A4A4A;

// Fonts
$MAIN_FONT: 'Comfortaa', cursive;
$BODY_FONT: 'Lato', sans-serif;

// Font sizes
$HEADER_FONT_SIZE: 30pt;
$SUB_HEADER_FONT_SIZE: 20pt;
$BODY_FONT_SIZE: 14pt;