/* Styles related to the whole app go here */

@import "globals";

* {
  box-sizing: border-box;
}

html, body {
  height: 100%;
  width: 100%;
}

body {
  font-family: $MAIN_FONT;
  font-size: $BODY_FONT_SIZE;
}

#main-wrapper {
  font-family: $MAIN_FONT;
  height: 100%;
  width: 100%;
  background-size: 100% 100%;
  background-repeat: no-repeat;
}

.hidden {
  display: hidden;
}